body {
    margin: 0;
    overflow-y: hidden;
}


/* sroll style */

.pr-scroll {
    overflow-y: scroll;
    height: 100vh;
}

.pr-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.pr-scroll::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.pr-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.pr-app {
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #292929;
    color: white;
}



.pr-content {
    /* padding-left: 10%;
    display: flex;
    flex-direction: column;    
    width: 60%; */
}

.pr-menu-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    /* padding-left: 150px;
    width: 200px; */
}


/* menu style */ 

.pr-menu {
    display: flex;
    flex-direction: row;
}

.pr-menu__item {
    padding: 0 10px 10px 10px;
    color: white;
    text-decoration-line: underline;
}