.hw6-calendar {
    width:220px;
    padding: 5px;
    cursor: pointer;
}
.hw6-calendar-head__date{
    display: inline;
    padding: 0px 50px 0px 50px;
}


.hw6-calendar-mas{
    display: flex;
    flex-wrap: wrap;     
    padding: 5px;

}

.hw6-calendar__week-day {
    text-align: end;
    padding: 2px;
    width: 25px;    
}
.hw6-calendar-head{
    display: inline;
    padding: 10px;
}

.hw6-calendar__day {    
    text-align: end;
    padding: 2px;
    width: 25px;  
}
.hw6-calendar__day:hover{
    color:white;
   background-color: rgb(113, 159, 228);   
}
 .hw6-calendar__day_bleak  {    
    color:#EBDFDF ;
}
.hw6-calendar__day_bleak:hover{
    color:black;
    background-color: rgb(203, 222, 252);   
 }