.pr-search-course{
    width: 27%;
}
/* course  style */





/* search  style */
.pr-search{
    padding: 5px;
    display: flex;
    flex-direction: row;
}
.pr-search-item{    
    padding:3px;
    border: 1px solid rgb(116, 106, 106);        
    color:white;
}
.pr-search-item:focus{
 outline: none;   
}
.pr-search-item_input{  
    width:70%;
    border-radius:10px 0 0 10px;    
    background-color: rgb(1, 20, 71);
}
.pr-search-item_button{     
    width: 50px;
    border-radius:0 10px 10px 0;   
    background-color: #472d00;
}


