.pr-calculator-form {
    padding: 30px 0 0 100px;
   }

.pr-form__title {
    border-bottom: 1px solid black;
    padding: 10px;
}

.pr-form-item {
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
}

.pr-form__label {
    width: 100px;
}

.pr-form__input-wrapper {
    padding-right: 5px;
    height:40px;
    display: flex;
    flex-direction: column;
}

.pr-form__input {
    padding: 0 5px 0 20px;
    width: 150px;    
    border-radius: 3px;
    border-color: rgb(92, 87, 87);
}
.pr-form__input:focus {
    outline: none;   
}
.pr-form__input_readonly{
    background-color: rgba(92, 87, 87, 0.233);
}
.pr-form__select {
    padding-right: 10px;
    width:70px;
    border: 1px solid rgb(92, 87, 87);
    background-color: inherit;   
    color:white;
}

.pr-form__select:focus {
    outline: none;
    border-color: rgb(92, 87, 87);
}

.pr-form__error {
    height: 15px;
    color: red;
}