body {
    top:20px;
    background-color: #292929;    
    color: white;
    overflow-y: hidden;
}

/* menu style */
.pr-menu{
display: flex;
flex-direction: row;
position: absolute;
right: 100px;
}
.pr-menu__item {
    /* display: inline-block; */
     padding: 0 10px 10px 10px;  
    /* border-right: 1px solid white; */
    text-decoration-line: underline;
}



/* select style  */
.pr-select-table{
    height: 100vh;
    overflow-y: scroll;
}
.pr-select{
    position: absolute;
   top:20px;
   left: 300px;
    padding: 10px;
    /* font-size: 3em; */
}
.pr-select-item{
display: flex;
flex-direction: row;
}
.pr-select-item-wrap{
    /* padding: 15px; */
    width: 200px;
    height: 40px;    
    border: 1px solid black;
    font-size: 1em;
}