.pr-favourite {
    padding: 50px;
    width: 90%;
    color: rgb(153, 149, 149);
}

.pr-favourite-item {
    padding: 30px 0 0 15px;
    height: 70vh;
    background-color: white;
}

.pr-favourite-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pr-favourite-header__item {
    border: 1px solid white;
    cursor: pointer;
}

.pr-favourite-header__item_active {
    background-color: white;
}

.pr-favourite-header-control {
    display: flex;
    justify-content: space-between;   
}

.pr-favourite-header__close {
    height: 15px;
    width: 15px;
    background-color: rgba(255, 0, 0, 0.582);
    color:white;
}

.pr-favourite-header__confirm {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: radial-gradient(#dee2e6, #8f959b);
}

.pr-favourite-header__value {
    padding: 0 10px 10px 10px;
}
